<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style>
    body {
        padding-top: 60px;
        /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="example.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script data-require="ng-table@*" data-semver="0.3.1" src="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.js"></script>

    <link data-require="ng-table@*" data-semver="0.3.1" rel="stylesheet" href="http://bazalt-cms.com/assets/ng-table/0.3.1/ng-table.css" />
   
     <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src='javascripts/dircontroller.js'></script>
    <script src='javascripts/services.js'></script>
</head>

<body ng-app='dirtest'>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Playlist Directive</a>
        </div>
    </div>

    <div class="container" ng-controller='dirtest'>

        <div id="player"></div>
        <table ng-table="tableParams" class="table">
            <tr ng-repeat="track in $data">
                <td data-title="'Name'" sortable="'name'" width="200">
                    {{track.name}}
                </td>
                <td data-title="'Artist'" width="200" sortable="'artist'">
                    {{track.artist}}
                </td>
                <td data-title="'Cover'" width="100">
                    <img src='{{track.url}}' width='100px' height='120px'>
                </td>

            </tr>
        </table>

    </div>

    <div ng-controller='modal'>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Enter any track to add it to the playlist</h3>
            </div>
            <input type ='text' ng-model='trackname'></input>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <div>Selection from a modal: {{ selected }}</div>
    </div>

    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</body>
<script>
// 2. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;

function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: 'M7lc1UVf-VE'
    });
}
</script>

</html>
